// 字体大小
$defaultFontsize: 14px;
// 主颜色
$colorPrimary: #1F93FF;
// 经过颜色
$hoverColor: #1F93FF;
// 字体颜色
$primaryTextColor: #333333;
// 次要文字
$secondaryTextColor: #666666;
// 灰色文字
$gray: #999999;


// 边框色
$borderColor: #ebeef5;

//
$colorSuccess: #3DB643;
//
$colorWarning: #F89A11;
//
$colorDanger: #FF5D5D;
//
$colorInfo: #818790;

//sidebar
$menuText:#bfcbd9;
$menuActiveText:#1F93FF;
$subMenuActiveText:#f4f4f5;

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#F9FAFD;
$subMenuHover:#001528;


// 间隔 8的倍数
$spacing: 8px;
// sidebar 宽
$sideBarWidth: 182px;
// sidebar 缩小宽度
$sideBarMinWidth: 82px;
// header 高
$headerHeight: 55px;
